/*--------------------------------------------------Sobre mi-----------------------------------------------*/

/*-------------------Header------------------------*/

/*-------------------Main------------------------*/
#profile{
    box-sizing: content-box;
}
#profile img{
    height: 80%;
}

#int {
    color: white;
}

#int {
    background-color: #1e00c5;
    border-radius: 20px;
    width: 220px;
    height: 40px;
    color: rgb(255, 255, 255);
}
div #int a:hover{
    background-color: rgb(0, 0, 63);
}

#techstack{
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8631827731092436) 0%, rgba(0, 0, 179, 1) 52%, rgba(0, 1, 255, 1) 100%);
    width: 100%;
    box-sizing: border-box;
}
#tecnologias{
    background-color: aliceblue;
}

#sep{
    background-color: rebeccapurple;
}
#tecnologias i{
    font-size: 70px;
}
#tecnologias p{
    position: relative;
    top: 15px;
    font-size: 15px;
}

#exp img{
    width: 100px;
    filter: grayscale(100%);

}
#exp img:hover{
    color: red;
    filter: grayscale(0%);

}
#exp div{
    display: inline;
}
#exp{
    background-color: rgb(255, 255, 255);
}
#exp p{
    font-size: 18px;
    color: #7f7f7f;
}
#mi{background: fixed;
    background-image: url(../images/background-4.png);
    background-size: cover;
}

#exp h2{
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600;
}
#exp h3{
    color: #370A6D;
    font-size: 17px;
}
#exp h4{
    color: #6A6A6A;
    font-size: 14px;
}
#exp p, #presentacion{ 
    color: #6a6a6a;
    font-size: 18px;
}
#exptit{
    color: #370A6D;
    font-weight: 400;
    font-size: 24px;
}
div #int:hover{
    background-color: rgb(0, 0, 63);
}


#Aca h2{
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600;
}
#Aca h3{
    color: #1e00c5;
    font-size: 17px;
}
#Aca h4{
    color: #6A6A6A;
    font-size: 14px;
}
#Aca p, #presentacion{ 
    color: #6a6a6a;
    font-size: 18px;
}
#Aca img{
    width: 130px;
    filter: grayscale(100%);
}
#Aca img:hover{
    filter: grayscale(0%);

}
#Aca div{
    display: inline;
}
#Aca{
    background-color: rgb(255, 255, 255);
}
#Aca p{
    font-size: 18px;
    color: #f3fffd;
    font-style: italic;
}
#acatit{
    color: #1e00c5;
    font-weight: 400;
    font-size: 24px;
}

#more{
    background-color: #bababaa4;
}
#icon{
    background-color: #370A6D;
    height: 180px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#icon i{
    box-sizing: content-box;
    color: white;
    font-size: 80px;
}

#icon-2{
    background-color: #ffffff;
    height: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

#more h2{
    color: #000000;
    font-size: 18px;
}
#more p{ 
    color: #6a6a6a;
    font-size: 12px;
    height: 5px;
}

/*-------------------Footer------------------------*/

/*-------------------Addition------------------------*/



/*--------------------------------------------------Inicio-----------------------------------------------*/

/*-------------------Header------------------------*/

/*-------------------Main------------------------*/
#cohete img {
    height: 400px;
    width: 250px;
}

#cohete img:hover {
    height: 500px;
    width: 300px;
}

#cohete {
    text-align: center;

}

#contcohe {
    height: 450px;
    box-sizing: border-box;
}

#cohete p {
    border: solid;
    border-radius: 20px;
    font-size: 20px;
}

#cohete #buttonp {
    border-radius: 20px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8631827731092436) 0%, rgba(0, 0, 179, 1) 52%, rgba(0, 1, 255, 1) 100%);
}

/*-------------------Footer------------------------*/

/*-------------------Addition------------------------*/


/*--------------------------------------------------Proyectos-----------------------------------------------*/

/*-------------------Header------------------------*/



/*-------------------Main------------------------*/
#vo {
    text-align: left;
    color: white;
}

div #vo a {
    background-color: #1e00c5;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    color: rgb(188, 188, 188);
}

div #cf a {
    color: #1e00c5;

}

div #proyecto {
    box-sizing: border-box;
}

#proyecto h2 {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8631827731092436) 0%, rgba(0, 0, 179, 1) 52%, rgba(0, 1, 255, 1) 100%);
    height: 65px;
}

#proyecto p {
    height: 100px;
    font-size: 14px;
}

#pcont {
    background-color: rgba(240, 248, 255, 0.613);
    height: 480px;
}

#pbotton {
    bottom: 0px;
}

div #cont1 {
    height: 400px;
}

#contp {
    box-sizing: border-box;

}

#colorp {}

#proyecto img {
    height: 200px;
    width: 500px;
}

div #vo a:hover{
    background-color: rgb(0, 0, 63);
}
body

/*-------------------Footer------------------------*/

/*-------------------Addition------------------------*/

h2 {
    color: aliceblue;
    font-size: 20px;
}



/*--------------------------------------------------Contacto-----------------------------------------------*/


/*-------------------Header------------------------*/
#download {
    color: white;

}

#navborder {
    border: solid;
    border-color: #1e00c5;
    border-radius: 20px;
    border-width: 2px;
}

nav a {
    color: rgb(47, 47, 47);
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    display: inline-block;
    text-align: center;
}

#nav {
    text-align: center;
    padding: 100px;

}

#cv {
    text-align: right;
    color: white;
}

div #cv a {
    background-color: #1e00c5;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    color: rgb(188, 188, 188);

}
div #cv a:hover{
    background-color: rgb(0, 0, 63);
}


/*-------------------Main------------------------*/
#send {
    width: 100px;
    height: 45px;
    color: gray;
    border-radius: 20px;
    font-size: 20px;
}

h1 {
    color: #1e00c5;
    font-weight: 400;

}


/*-------------------Footer------------------------*/
footer #i1 i {
    color: #1e00c5;
}

footer {
    bottom: 20px;

}

#i1 {
    text-align: left;
    padding-left: 10%;
}

div #i1 i {
    font-size: 30px;
    padding: 1%;
}

#i2 {
    text-align: left;
    display: inline;

}

#i3 {
    text-align: right;
    display: inline-block;

}

#i4 {
    padding-right: 90px;
    color: aliceblue;
}

div #i4 i {
    font-size: 30px;
    color: aliceblue;
}

#fix {
    padding-bottom: 0px;
    padding-top: 10px;
    position: fixed;
    right: 5%;
    bottom: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #10bb00;
    width: 45px;
    text-align: center;
}

/*-------------------Addition------------------------*/
body {
    background: fixed;
    background-image: url(../images/Blue-paint.png);
    background-size: cover;
}

p {
    color: rgb(47, 47, 47);
    font-size: 23px;

}

.absolute {
    position: absolute;
}

div #nav {
    text-align: center;
}

a {
    text-align: center;
}

